body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #002244; /* azul-escuro */
    color: white;
    padding: 20px;
    text-align: center;
}

h1{
    color:aliceblue;
}
        
h2 {
    color: #002244;
}
h2 {
    border-bottom: 2px solid #002244;
    padding-bottom: 5px;
}
section {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
p {
    line-height: 1.6;
}
.highlight {
    color: #555555; /* cinza/preto */
}
